.features ul {
  display: flex;
  gap: 24px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.features ul li {
  width: calc((100% - 3 * 24px) / 4);
}

.features-icon-thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
  border: 1px solid #8e8f99;
}

.features-title {
  color: #2e2f42;
  text-align: left;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-top: 0;
  margin-bottom: 8px;
}

.features-text {
  color: #434455;
  text-align: left;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin: 0;
}
