.portfolio-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-top: 0px;
  margin-bottom: 72px;
}

.portfolio-name {
  color: #2e2f42;
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.portfolio-text {
  color: #434455;
  text-align: left;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.portfolio li {
  width: calc((100% - 2 * 24px) / 3);
}

.portfolio ul {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-info {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio img {
  display: block;
}
